$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass-mixins/lib/_compass.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.bg {
  background-image: url(/images/Background.png);
  @include background-size(cover);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html, body {
  height: 100%;
}

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .jojowrap {
    text-align: center;

    img {
      height: 24rem;
    }
  }

  h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    color: #FEF3E0;
    margin-bottom: 2rem;
  }

  p {
    font-family: 'Lato', sans-serif;
    color: #FEF3E0;
    margin-bottom: 2rem;
  }

  .info {
    text-align: center;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .main {
    height: 100%;

    .container, .row, .col, .content {
      height: 100%;
    }

    .col {
      display: table;
    }

    h1 {
      font-size: 4rem;
    }
    
    .content
    {
      display: table-cell;
      vertical-align: middle;
    }

    .jojowrap {
      text-align: right;
      img {
        height: auto;
      }
    }
  }

}
